.home__top {
    width: 100%;
    height: 560px;
    position: relative;
    margin-top: 2px;
    display: flex;
}

.home__background_img {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    pointer-events: none;
    object-fit: cover;
    z-index: -1;
}

.home__top_content {
    display: flex;
}

.home__top_box_text {
    display: block;
    padding: 30px;
    background: rgba(54, 71, 66, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(54, 71, 66, 0.25);
    z-index: 1;
    border-radius: .4rem;
}

.home__title {
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
    position: relative;
    color: var(--primary-color);
}

.home__subtitle {
    font-family: var(--type-second);
    line-height: 3rem;
    font-size: 2.5rem;
    position: relative;
    color: var(--secondary-color);
}

.home__advantages {
    width: 100%;
    height: auto;
    padding: 45px 0px;
    background-color: var(--secondary-color);
}

.home__advantages_title {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
    font-family: var(--type-second);
    line-height: 1;
    font-size: 2rem;
    position: relative;
}

.home__advantages_text {
    width: 100%;
    max-width: 800px;
    font-size: 1.125rem;
    text-align: center;
    margin: 0px auto;
}

.home__advantages_charts {
    width: 100%;
    height: auto;
    min-height: 251px;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: .4rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__advantages_charts_title {
    width: 100%;
    height: auto;
    margin: 15px 0px;
    text-align: center;
}

.home__advantages_charts_text {
    text-align: center;
}